# ignore all the files
*

# but not these files
!*.rs

!/.gitignore

!README.md
!LICENSE.md
!Cargo.toml
!Cargo.lock

# give github related files a free pass
!/.github/**/*

# ... not when they are in subdirectories
!*/

/target
